<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <title>DW2018 - UNAB</title>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
          
      <a class="navbar-brand" href="#">Basket App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li> -->
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>

      </div>
    </nav>
    <div class="container">
      
        
        
        {% for i in player%}
        <form action="{% url 'editar_final' pk=i.pk %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
          <h1 style="margin-top:30px;">Editar Player</h1>
        <div class="row">
            <div class="col-sm-6">
                
                
                <div class="form-group">
                  <label for="exampleFormControlInput1">Name</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" name="name" value={{i.name}} >

                </div>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Nick Name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="nickname" placeholder="name@example.com" value={{i.nickname}}>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">birthday</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="birthday" placeholder="name@example.com" value={{i.birthday}}>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">age</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="age" placeholder="name@example.com" value={{i.age}}>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="name@example.com" value={{i.email}}>
                  </div>
                  
                
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                    <label for="exampleFormControlInput1">height</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="height" placeholder="name@example.com" value={{i.height}}>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">weight</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="weight" placeholder="name@example.com" value={{i.height}}>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Picture</label>
                    <input type="file" class="form-control" id="exampleFormControlInput1" name="picture" placeholder="name@example.com" value={{i.height}}>
                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Position</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="position">
                      <option>Base</option>
                      <option>Escolta</option>
                      <option>Alero</option>
                      <option>Ala-pivot</option>
                      <option>Pivot</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Team</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" value={{i.height}} name="team">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Rut</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="rut" value="{{i.rut}}" >
                  </div>
            </div>
            
        </div>
        {% endfor %}
        

            <input type="submit" value="Enviar" class="btn btn-primary float-right btn-lg">
        </form>

        
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>